
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Custom Error Page.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Error Detail</h3>
<p>@ViewBag.Message</p>



